wheel
six

wcwidth
tabulate[widechars]
tqdm

# excel handling
xlsx2csv
openpyxl
xlrd  # xls

notebook
ipykernel
ipywidgets

black
ruff

numpy
pandas
pyarrow
dask

scikit-learn
mlxtend
dask-ml

matplotlib
seaborn

# from catboost: (if you want to use plot_tree function)
graphviz  

plotly
scipy

wget

# requires DLL from https://www.microsoft.com/en-us/download/details.aspx?id=48145
xgboost
catboost

pytorch-tabnet

shap